<div class="card">
    <div class="card-header">
        <div style="display: flex; justify-content: space-between;">
            <div style="margin-top: 10px;">
                <h3 class="card-title">Contacts list</h3>
            </div>
            <div>
                <div class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-plus"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
                        <a routerLink="create" class="dropdown-item">
                            Create an article
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Title</th>
                    <th>Created by user</th>
                    <th>Created by company</th>

                </tr>
            </thead>
            <tbody>
                @for(article of articles; track article.id; let idx = $index){
                <tr>
                    <td>{{idx+1}}</td>
                    <td>{{article.title}}</td>
                    <td>{{article.createdByUser.firstName}} {{article.createdByUser.lastName}}</td>
                    <td>{{article.company?.name ?? "-"}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer clearfix">
    </div>
</div>