<div class="card">
    <div class="card-header">
        <div style="display: flex; justify-content: space-between;">
            <div style="margin-top: 10px;">
                <h3 class="card-title">Contacts list</h3>
            </div>
            <div>
                <div class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-plus"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
                        <a routerLink="create" class="dropdown-item">
                            Create a contact
                        </a>
                        <div class="dropdown-divider"></div>
                        <a routerLink="createCsvFile" class="dropdown-item">
                            Create contacts from CSV file
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Subcontractor</th>
                    <th>Vendor</th>
                </tr>
            </thead>
            <tbody>
                @for(contact of contacts; track contact.id; let idx = $index){
                <tr>
                    <td>{{idx+1}}</td>
                    <td>{{contact.firstName}}</td>
                    <td>{{contact.lastName}}
                    <td>{{contact.email ? contact.email : '-'}}</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer clearfix">
    </div>
</div>