<div class="card">
    <div class="card-header">
        <h3 class="card-title">Contacts list</h3>
        <i class="fa fa-plus right"></i>
    </div>

    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Firsname</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Subconractor</th>
                    <th>Vendor</th>
                </tr>
            </thead>
            <tbody>
                @for(contact of contacts; track contact.id; let idx = $index){
                <tr>
                    <td>{{idx+1}}</td>
                    <td>{{contact.firstName}}</td>
                    <td>{{contact.lastName}}
                    <td>{{contact.email ? contact.email : '-'}}</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="card-footer clearfix">

    </div>
</div>