<div class="row">
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Create contacts from CSV file</h3>
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmitForm()">
                <div class="card-body">
                    <div>
                        <label for="formFileMultiple" class="form-label">Please upload the CSV file</label>
                        <input style="height: 45px;" class="form-control" type="file" id="formFileMultiple"
                            (change)="onUploadedCsvFile($event)">
                    </div>
                    <div>
                        <ul class="list-group" style="margin-top: 20px;">
                            <li class="list-group-item"
                                [ngClass]="contact.doesExist === true ? 'list-group-item-danger' : ''"
                                *ngFor="let contact of contacts; index as i; trackBy: identify">
                                {{contact.salutation}} {{contact.firstName}} {{contact.lastName}} {{contact.email}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" type="submit" [disabled]="contacts.length === 0">Submit</button>
                </div>
            </form>
        </div>

    </div>
</div>